.conteneur-principal
{
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:345px;
    padding:15px;
    margin: auto; 
    
    &--grisclair
    {
        position:relative;
        
        @include container-layout($color-black,$color-fond-grisclair,18px);
               
        @media(min-width:737px){
            background:none;
        }
             
        &--menu
        {
            height:304px;
        }

        &--centre
        {
            position: relative;
            text-align:center;
            @include container-layout($color-black,$color-fond-grisclair,45px);

            @media(min-width:737px){
                border-radius: 20px;
            }
           
        }
        &--title
        {
            background:none;
            

            @media(min-width:707px){
               margin-left: 0;
            }
        }
    }

    &--formulaire
    {
        position: absolute;
        top:0;
        left: 0;
        flex-direction: row;
        height:51px;
        
        @include container-layout($color-black,$color-fond-grismoyen,0px);

        @media(min-width:737px){
            border-radius: 20px 20px 0px 0px;
        }
    }

    &--grisfonce
    {
        @include container-layout($color-white,$color-fond-grisfonce,18px);
        width:auto;
    }
}

.conteneur-principal--duo
{
    box-sizing: border-box;
    display: flex;flex-direction: row;
    flex:0 1 47%;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: auto;
   
    
}


#position{
   
    border-style: none;
    background:none;
}

#ville{
    
    width:150px;
    border-style: none;
    background:none;
    
}