.conteneur-principal
{
    box-sizing:border-box;
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:center;
    padding:15px;
    margin: auto; 
    background-color: $color-white;

    @media(min-width:737px){
        width:345px;
    }        
    
    &--grisclair
    {
        position:relative;
        width:100%;
        
        @include container-layout($color-black,$color-fond-grisclair,18px);
                       
        @media(min-width:737px){
            background:none;
            width:345px;
            
        }
             
        &--menu
        {
            height:304px;
            width:345px;
        }

        &--centre
        {
            position: relative;
            text-align:center;
            @include container-layout($color-black,$color-fond-grisclair,45px);

            @media(min-width:737px){
                border-radius: 20px;
                width:345px;
            }
           
        }
        &--title
        {
            width:100%;

            @media(min-width:737px){
               margin-left: 0;
            }
        }
    }

    &--formulaire
    {
        position: absolute;
        top:0;
        left: 0;
        flex-direction: row;
        height:51px;
        
        @include container-layout($color-black,$color-fond-grismoyen,0px);

        @media(min-width:737px){
            border-radius: 20px 20px 0px 0px;
            width:345px;
        }
    }

    &--grisfonce
    {
        @include container-layout($color-white,$color-fond-grisfonce,18px);
        width:auto;
    }
}

.conteneur-principal--duo
{
    box-sizing: border-box;
    width:100%;
    display: flex;flex-direction: row;
    flex:0 1 47%;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: auto;
    background-color:$color-fond-grisclair;

    @media(min-width:737px){
        background:none;
    }
}

#position{
    border-style: none;
    background:none;
}

#ville{
    width:150px;
    border-style: none;
    background:none;
}