/*@mixin button-hover($background-color:$color-primary,$color:$color-icone){
    background-color:lighten($color-primary,35%);
    color:$color-primary;
}*/
body {
  max-width: 1920px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #FF79DA;
  border-left: 16px solid #99E2D0;
  border-right: 16px solid #99E2D0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 120px;
  height: 120px;
  animation: spin 2s linear 1;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes delayed-print {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes filled-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}

.white {
  color: white;
  margin-right: 10px;
  width: 20px;
}

footer a {
  color: white;
  margin-bottom: 5px;
}

footer h1 {
  font-size: 20px;
}

.icone-check {
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
}

/*p{
    white-space: nowrap;
  overflow: hidden;
}*/
.overflow-ellipsis {
  height: 19px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bouton {
  display: flex;
  justify-content: center;
  margin: auto;
  border-style: none;
  background: none;
  align-items: center;
}
.bouton__fonctionnement {
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 329px;
  height: 73px;
  color: black;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.bouton__fonctionnement--icone {
  font-size: 20px;
  color: #7e7e7e;
  margin-right: 30px;
}
.bouton__fonctionnement--numbericone {
  width: 20px;
  height: 20px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  margin-left: -10px;
  margin-right: 30px;
}
.bouton__fonctionnement:hover {
  background-color: #f2eafb;
}
.bouton__fonctionnement:hover .bouton__fonctionnement--icone {
  color: #9356DC;
}
.bouton--degrade {
  width: 218px;
  height: 51px;
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
}
.bouton--degrade:hover {
  opacity: 0.7;
}
.bouton__menu {
  width: 315px;
  height: 63px;
  color: .bouton__menu black;
  background-color: white;
  border-radius: 20px;
  justify-content: space-around;
  align-items: flex-start;
}
.bouton__menu--anim-1 {
  animation: delayed-print 1000ms ease-in-out 500ms both;
}
.bouton__menu--anim-2 {
  animation: delayed-print 1000ms ease-in-out 1000ms both;
}
.bouton__menu--anim-3 {
  animation: delayed-print 1000ms ease-in-out 1500ms both;
}
.bouton__menu--anim-4 {
  animation: delayed-print 1000ms ease-in-out 2000ms both;
}
.bouton__menu--anim-5 {
  animation: delayed-print 1000ms ease-in-out 2500ms both;
}
.bouton__menu--anim-6 {
  animation: delayed-print 1000ms ease-in-out 3000ms both;
}
.bouton__menu--anim-7 {
  animation: delayed-print 1000ms ease-in-out 3500ms both;
}
.bouton__menu--anim-8 {
  animation: delayed-print 1000ms ease-in-out 4000ms both;
}
.bouton__menu--anim-9 {
  animation: delayed-print 1000ms ease-in-out 4500ms both;
}
.bouton__menu--anim-10 {
  animation: delayed-print 1000ms ease-in-out 5000ms both;
}
.bouton__menu--description {
  box-sizing: border-box;
  width: 262px;
  flex-direction: column;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bouton__menu--description h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bouton__menu--prix {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  width: 53px;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  z-index: 1;
}
.bouton__menu--prix:hover b {
  transform: translateX(-53px);
  transition: transform 500ms ease-in-out;
}
.bouton__menu--prix:hover .bouton__menu--prix__bg {
  opacity: 1;
}
.bouton__menu--prix:hover .bouton__menu--prix__bg .icone-check {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
.bouton__menu--prix__bg {
  box-sizing: border-box;
  width: 53px;
  padding: 5px;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
}

.carte-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 18px;
  box-shadow: 0px 4px 15px 1px #e3e3e3;
  border-radius: 10px 10px 10px 10px;
}
.carte-restaurant__photo {
  height: 175px;
  width: 309px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.carte-restaurant__photo--decal1 {
  object-position: left bottom;
}
.carte-restaurant__photo--decal2 {
  object-position: 50% 61%;
}
.carte-restaurant__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
  background-color: white;
}
.carte-restaurant__description--texte {
  border-radius: 0px 0px 0px 10px;
  padding-left: 20px;
  width: 239px;
}
.carte-restaurant__description--texte p {
  margin-top: 0;
}
.carte-restaurant__description--texte h3 {
  margin-bottom: 5px;
}
.carte-restaurant__description--favori {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 50px;
  border-radius: 0px 0px 10px 0px;
}
.carte-restaurant__description--favori:hover path {
  stroke-opacity: 0;
}
.carte-restaurant__description--favori:hover .carte-restaurant__description--favori__bg {
  opacity: 1;
  transform: scale(1);
}
.carte-restaurant__description--favori__bg {
  transform: scale(0);
  transform-origin: center bottom;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: transform 1000ms ease-out;
}
.carte-restaurant__description--favori__bg path {
  fill: url(#colorGradient);
}

.carte-restaurant--duo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 0 1 47%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carte-restaurant__photo--nouveau {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 81px;
  height: 30px;
  color: green;
  background-color: #99E2D0;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
}

.page-menu {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 15px;
  max-width: 1920px;
  margin: auto;
  flex-wrap: wrap;
}
@media (min-width: 737px) {
  .page-menu {
    justify-content: space-around;
  }
}

.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 304px;
  justify-content: space-between;
}
@media (min-width: 737px) {
  .menu {
    margin-bottom: 20px;
  }
}
.menu--grisclair {
  background-color: #f6f6f6;
  width: 345px;
  padding: 15px;
}
@media (min-width: 737px) {
  .menu--grisclair {
    border-radius: 20px;
  }
}

.menu__duo {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 47%;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1516px) {
  .menu__duo {
    justify-content: space-between;
    margin-left: auto;
  }
}

.menu__photo {
  box-sizing: border-box;
  align-self: flex-start;
  height: 250px;
}

.menu__photo img {
  width: 345px;
  height: 250px;
  object-fit: cover;
}

.menu__description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 345px;
  height: 105px;
  padding-left: 20px;
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  margin-top: -50px;
}

/*.menu
{   
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:375px;margin:15px;
        margin:auto;

        background-color: $color-fond-grisclair;

    &__photo
    {
        width:375px;



        object-fit:cover;


    }

    &__description
    {
        width:375px;
        height:90px;

        /*bottom:-30px;*/
/*bottom:0;
        border-radius: 40px 40px 0px 0px;
        background-color: $color-fond-grisclair;
        padding-left:18px;
    }
}*/
svg {
  width: 30px;
  height: 30px;
  display: flex;
  margin: auto;
}

/*@keyframes filled-heart{
    0% {fill-opacity: 0;}
    100% {fill-opacity: 1;}
}*/
path {
  stroke-width: 1.5px;
  stroke: black;
  stroke-opacity: 1;
  fill: none;
  /* &:hover
   {
       fill:url(#colorGradient);
       stroke-opacity: 0;

   }*/
}

header {
  box-sizing: border-box;
  display: flex;
  width: 375px;
  height: 51px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 162px;
  margin: auto;
}

.conteneur-principal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width:345px;*/
  width: 100%;
  padding: 15px;
  margin: auto;
}
@media (min-width: 737px) {
  .conteneur-principal {
    width: 345px;
  }
}
.conteneur-principal--grisclair {
  position: relative;
  width: 100%;
  color: black;
  background-color: #f6f6f6;
  padding: 18px;
}
@media (min-width: 737px) {
  .conteneur-principal--grisclair {
    background: none;
    width: 345px;
  }
}
.conteneur-principal--grisclair--menu {
  height: 304px;
  width: 345px;
}
.conteneur-principal--grisclair--centre {
  position: relative;
  text-align: center;
  color: black;
  background-color: #f6f6f6;
  padding: 45px;
}
@media (min-width: 737px) {
  .conteneur-principal--grisclair--centre {
    border-radius: 20px;
    width: 345px;
  }
}
.conteneur-principal--grisclair--title {
  background: none;
}
@media (min-width: 707px) {
  .conteneur-principal--grisclair--title {
    margin-left: 0;
  }
}
.conteneur-principal--formulaire {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  height: 51px;
  color: black;
  background-color: #eaeaea;
  padding: 0px;
}
@media (min-width: 737px) {
  .conteneur-principal--formulaire {
    border-radius: 20px 20px 0px 0px;
    width: 345px;
  }
}
.conteneur-principal--grisfonce {
  color: white;
  background-color: #353535;
  padding: 18px;
  width: auto;
}

.conteneur-principal--duo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 0 1 47%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

#position {
  border-style: none;
  background: none;
}

#ville {
  width: 150px;
  border-style: none;
  background: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes transparent-bg {
  0% {
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
  }
  100% {
    background: none;
    z-index: -1;
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: transparent-bg 4s linear 1 forwards;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #FF79DA;
  border-left: 16px solid #99E2D0;
  border-right: 16px solid #99E2D0;
  border-radius: 50%;
  z-index: -1;
  width: 120px;
  height: 120px;
  display: flex;
  margin: auto;
  animation: spin 2s linear 1 forwards;
}

/*# sourceMappingURL=style.css.map */
