
.carte-restaurant
{
    position:relative;
    display:flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 18px;

    &__photo
    {
       
        height:175px;
        width:334px;    
        object-fit:cover;
        border-radius: 10px 10px 0px 0px;
       
        &--decal1{
            
            object-position: left bottom;
        }
        &--decal2{
            
            object-position: 50% 61%;
            
        }
    }
       
    &__description
    {
        flex-direction:row;
        justify-content: space-between;
        height:76px;
        background-color: $color-white;
        border-radius: 0px 0px 10px 10px;

        
    }
   
}

.carte-restaurant__photo--nouveau
{
    box-sizing: border-box;
    position:absolute;
    top:10px;
    right:10px;
    width:81px;
    height:30px;
    color:green;
    background-color: $color-tertiary;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
}
