
.carte-restaurant
{
    position:relative;
    display:flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 18px;
    box-shadow: 0px 4px 15px 1px #e3e3e3;
    border-radius: 10px 10px 10px 10px;

    &__photo
    {
       
        height:175px;
        width:309px;    
        object-fit:cover;
        border-radius: 10px 10px 0px 0px;
       
        &--decal1{
            
            object-position: left bottom;
        }
        &--decal2{
            
            object-position: 50% 61%;
            
        }
    }
    
    &__description
    {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        height:76px;
       
        background-color: $color-white;

        &--texte{
        border-radius: 0px 0px 0px 10px;
        padding-left: 20px;
        width:239px;
       
        p{
            margin-top:0;
        }
        h3{
            margin-bottom: 5px;
        }
        }

        &--favori
        {
            position:relative;
            z-index:1;
            margin:auto;
            width:50px;
            border-radius: 0px 0px 10px 0px;
         
            &:hover{

                path{
                    stroke-opacity: 0;
                }
                .carte-restaurant__description--favori__bg{
                    opacity:1;
                    transform:scale(1);
                }
            }

            &__bg{
               
                transform:scale(0);
                transform-origin: center bottom;
                position:absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index:-1;
                opacity:0;
                
                transition:transform 1000ms ease-out;

                path{
                    fill:url(#colorGradient);
                }
            }
        }
    }
}


.carte-restaurant--duo
{
    position:relative;
    display: flex;
    flex-direction: row;
    flex:0 1 47%;
    justify-content:space-around;
    flex-wrap:wrap;
    
}

.carte-restaurant__photo--nouveau
{
    box-sizing: border-box;
    position:absolute;
    top:10px;
    right:10px;
    width:81px;
    height:30px;
    color:green;
    background-color: $color-tertiary;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
}
