svg{
    width:30px;
    height:30px;
    display:flex;
    margin: auto;
}

path{
    stroke-width: 1.5px;
    stroke:$color-black;
    stroke-opacity: 1;
    fill:none;
    transition:all 1000ms ease-out;
}


  