

svg{
    width:30px;
    height:30px;
    display:flex;
    margin: auto;
}

/*@keyframes filled-heart{
    0% {fill-opacity: 0;}
    100% {fill-opacity: 1;}
}*/


path{
    stroke-width: 1.5px;
    stroke:$color-black;
    stroke-opacity: 1;
    fill:none;

  

   /* &:hover
    {
        fill:url(#colorGradient);
        stroke-opacity: 0;
        
    }*/
    
}


  