.page-menu
{
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    max-width:1920px;
    width:100%;
    margin:auto;
    flex-wrap: wrap;

    @media(min-width:737px){
        justify-content: space-around;
    }
}


.menu
{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
      
    @media(min-width:737px){
        width:345px;
        margin-bottom: 20px;
    }
       
    &--grisclair
    {
        background-color: $color-fond-grisclair;
        width:100%;
        padding:15px;

       @media(min-width:737px){
           border-radius: 20px;
           width:345px;
           padding:15px;
       }
    }
}

.menu__duo
{
    box-sizing: border-box;
    display: flex;
    width:100%;
    justify-content: center;
    flex-wrap:wrap;

    @media(min-width:737px){
        width:345px;
        flex:0 1 50%;
    }

    @media(min-width: 1380px){
        justify-content: space-around;
        margin-left: auto;
    }
}

.menu__photo
{
    box-sizing: border-box;
    align-self: flex-start;
    height:305px;
      
    @media(min-width:737px){
       height:340px;
    }
}

.menu__photo img
{
    width:100%;
    object-fit: cover;
   
    @media(min-width:737px){
        width:345px;
        height:340px;
    }
}

.menu__photo--decale{
    object-position: 0 -90px;
    object-fit: cover;
}

.menu__description
{
    box-sizing: border-box;
    display: flex;
    width:100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height:105px;
    border-radius: 40px 40px 0px 0px;
    background-color: $color-fond-grisclair;
    margin-top:-105px;
     
    &--texte{
        border-radius: 0px 0px 0px 10px;
        width:80%;
    }

    &--favori{
        position:relative;
        z-index:1;
        margin:auto;
        width:20%;
        border-radius: 0px 0px 10px 0px;
         
        &:hover{

            path{
                stroke-opacity: 0;
            }
            .menu__description--favori__bg{
                opacity:1;
                transform:scale(1);
            }
        }

        &__bg{
               
            transform:scale(0);
            transform-origin: center bottom;
            position:absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index:-1;
            opacity:0;
                
            transition:transform 1000ms ease-out;

            path{
                fill:url(#colorGradient);
            }
        }
    }
}

