.page-menu
{
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    padding:15px;
    max-width:1920px;
    margin:auto;
    flex-wrap: wrap;
    @media(min-width:737px){
        justify-content: space-around;
    }
}


.menu
{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    width:345px;
    height:304px;
    justify-content: space-between;
    
    @media(min-width:737px){
        margin-bottom: 20px;
    }
   
    
    &--grisclair
    {
        
        background-color: $color-fond-grisclair;
        
        width:345px;
        padding:15px;

       @media(min-width:737px){
           border-radius: 20px;
       }
    }

}

.menu__duo
{
    box-sizing: border-box;
    display: flex;
    flex:0 1 47%;
    justify-content: center;
    flex-wrap:wrap;
    @media(min-width: 1516px){
        justify-content: space-between;
        margin-left: auto;
    }
}

.menu__photo
{
    box-sizing: border-box;
    align-self: flex-start;
    height:250px;
}

.menu__photo img
{
    width:345px;
    height:250px;
    object-fit: cover;
}

.menu__description
{
   box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:345px;
    height:105px;
    padding-left: 20px;
    border-radius: 40px 40px 0px 0px;
    background-color: $color-fond-grisclair;
    margin-top:-50px;
   
}

/*.menu
{   
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:375px;margin:15px;
        margin:auto;
        
        background-color: $color-fond-grisclair;

    &__photo
    {
        width:375px;
       
     
       
        object-fit:cover;
        
        
    }

    &__description
    {
        width:375px;
        height:90px;
        
        /*bottom:-30px;*/
        /*bottom:0;
        border-radius: 40px 40px 0px 0px;
        background-color: $color-fond-grisclair;
        padding-left:18px;
    }
}*/