.page-menu
{
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    padding:15px;
    max-width:1920px;
    margin:auto;
    flex-wrap: wrap;
    @media(min-width:737px){
        justify-content: space-around;
    }
}


.menu
{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    width:345px;
    height:304px;
    justify-content: space-between;
    
    @media(min-width:737px){
        margin-bottom: 20px;
    }
   
    
    &--grisclair
    {
        
        background-color: $color-fond-grisclair;
        
        width:345px;
        padding:15px;

       @media(min-width:737px){
           border-radius: 20px;
       }
    }

}

.menu__duo
{
    box-sizing: border-box;
    display: flex;
    flex:0 1 47%;
    justify-content: center;
    flex-wrap:wrap;
    @media(min-width: 1516px){
        justify-content: space-between;
        margin-left: auto;
    }
}

.menu__photo
{
    box-sizing: border-box;
    align-self: flex-start;
    height:250px;
}

.menu__photo img
{
    width:345px;
    height:250px;
    object-fit: cover;
}

.menu__description
{
   box-sizing: border-box;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-items: center;
    width:345px;
    height:105px;
    padding-left: 10px;
    border-radius: 40px 40px 0px 0px;
    background-color: $color-fond-grisclair;
    margin-top:-50px;
   
    &--texte{
        border-radius: 0px 0px 0px 10px;
        /*padding-left: 20px;*/
        /*width:239px;*/
        width:295px;
       
       
        /*h1{
            margin-bottom: 5px;
        }*/
    }

    &--favori{
        position:relative;
        z-index:1;
        margin:auto;
        width:50px;
        border-radius: 0px 0px 10px 0px;
         
        &:hover{

            path{
                stroke-opacity: 0;
            }
            .menu__description--favori__bg{
                opacity:1;
                transform:scale(1);
            }
        }

        &__bg{
               
            transform:scale(0);
            transform-origin: center bottom;
            position:absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index:-1;
            opacity:0;
                
            transition:transform 1000ms ease-out;

            path{
                fill:url(#colorGradient);
            }
        }
    }
}

