a{
    text-decoration:none;
}



.title{
    font-family:'Shrikhand',sans-serif;
    font-size: 28px;
    
}

.white{
    color:$color-white;
    margin-right:10px;
    width:20px;
}

footer a{
    color:$color-white;
    margin-bottom:5px;
    
}

.icone-check
{
    font-size:20px;
    color:$color-white;
    background-color: $color-tertiary;
   
}

/*p{
    white-space: nowrap;
  overflow: hidden;
}
.overflow-ellipsis{
    text-overflow:ellipsis;
}*/