$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-fond-grisfonce:#353535;
$color-fond-grismoyen:#eaeaea;
$color-fond-grisclair:#f6f6f6;
$color-white:white;
$color-black:black;
$color-icone:#7e7e7e;

