@keyframes spin {
    0% { transform: rotate(0deg);opacity:1; }
    100% { transform: rotate(360deg); opacity:0;}
  }

@keyframes transparent-bg {
    0% { background: rgba(255,255,255,0.95);z-index:2;}
    100% { background: none; z-index:-1;}
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation : transparent-bg 4s linear 1 forwards;
    
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid $color-primary;
    border-bottom: 16px solid $color-secondary;
    border-left:16px solid $color-tertiary;
    border-right:16px solid $color-tertiary;
    border-radius: 50%;
    z-index: -1;
    width: 120px;
    height: 120px;
    display:flex;
    margin:auto;
    animation: spin 2s linear 1 forwards;
}
  
 