@keyframes delayed-print {
    0% { transform:translateY(-20%); opacity: 0;}
    100% { transform:translateY(0);opacity: 1;}
  }

.plat{
    display:flex;
    width:315px;

    max-width:315px;

    height:63px;
    justify-content: space-between;
    align-items: flex-start;
    color:$color-black;
    background-color: $color-white;
    border-radius:20px;
    margin: auto;
    margin-bottom:20px;
    position:relative;
    overflow: hidden;

    @for $i from 1 through 10{
        &--anim-#{$i}{
            animation: delayed-print 1000ms ease-in-out 500ms*$i both;
        }
    }

    &__description{
        box-sizing: border-box;
        width:262px;
        flex-direction: column;
        margin-left: 10px;
        padding-top:10px;
        padding-bottom:10px;

        h4,p{
           width:262px;
        }
    }

    &__prix{        
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-end;
        width:53px;    
        padding:10px;
        border-radius:0px 20px 20px 0px;
        transform:translateX(0);
        transition: transform 1000ms ease-in-out;
    }
   
    &__check{
        box-sizing:border-box;
        display: flex;
        width:53px;
        height:63px;
        border-radius:0px 20px 20px 0px;
        background-color: $color-tertiary;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -53px;
        transition: transform 1000ms ease-in-out;
    }
}

.plat:hover{

    cursor:pointer;

    .overflow-ellipsis{
        width:209px;
    }
 
    .plat__prix{
        transform:translateX(-53px);
    }
   
    .plat__check{
        
        transform: translateX(-53px);

        .icone-check{
            transform:rotate(360deg);
        }
    }
}



              
                
           
           
           







    
       
        
        
        
        
        