/*@mixin button-hover($background-color:$color-primary,$color:$color-icone){
    background-color:lighten($color-primary,35%);
    color:$color-primary;
}*/

@mixin button-layout($width,$height,$color,$background-color,$border-radius){
    width:$width;
    height:$height;
    color:$color;
    background-color:$background-color;
    border-radius:$border-radius;
}

@mixin container-layout($color:$color-black,$background-color:$color-white,$padding){
    color:$color;
    background-color:$background-color;
    padding:$padding;
}